<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container">
        <header class="header">
            <div class="left-panel">
                <% if (user.displayName) { %>
                    <h3><%= user.displayName %>'s profile!</h3>
                <% } else { %>
                    <h3><%= user.username %>'s profile!</h3>
                <% } %>

                <% if (user.role === 'admin') { %>
                    <a href="/auth/admin/index/<%= userID %>">Index</a>
                <% } else { %>
                    <a href="/auth/index/<%= userID %>">Index</a>
                <% } %>
                
                <p>User ID: <%= userID %></p>
                <% if (user.role === 'admin') { %>
                    <a href="/admin/activity-log">Activity Log</a>
                <% } %>
            </div>
        </header>

        <main class="user-profile-edit">
            <img id="user-profile-picture-edit" width="100" height="100" src="/public/<%= user.profilePicture %>" alt="Profile picture">
            <br>
            <input type="text" id="display-name-input" placeholder="Enter display name here">
            <input type="file" id="profile-picture-input" name="profilePicture" accept="image/*">
            <button class="btn btn-primary" id="update-profile-btn">Save change</button>
        </main>
    </div>
    <div class="user-profile"></div>
    <!-- <script defer type="module" src="../../public/js/index.js"></script> -->
    <script defer type="module" src="../../public/js/profile.js"></script>
</body>

</html>